.services-page header {
  background-image: linear-gradient(
    rgba(5, 10, 35, 0.75),
    rgba(5, 10, 35, 0.85)
  );
}

.services-page .card {
  width: 300px;
}

.services-page .card:hover {
  cursor: pointer;
}
