:root {
  --white-color: #fff;
  --theme-color: #dc3545;
  --social-fill-color: #212529;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
p,
a {
  font-family: "Montserrat", sans-serif;
}

header h1 {
  font-size: 3rem;
}

.navbar nav-link {
  font-size: 14px;
  color: var(--white-color);
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--theme-color);
}

nav .navbar-toggler:focus {
  box-shadow: none;
}

.scale-hover-effect {
  transition: transform 0.5s ease;
}

.scale-hover-effect:hover {
  transform: scale(1.05);
}

.footer-social-icons li:hover svg {
  fill: var(--social-fill-color);
}

.footer-navigation li:hover {
  color: var(--social-fill-color);
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 576px) {
  header h1 {
    font-size: 2rem;
  }
}
